#!/usr/bin/env bash
# ^ for code highlighting

# Used by https://direnv.net
set -euo pipefail

# External users should eval use the below to load the direnvrc file:
#    source_url "https://raw.githubusercontent.com/koandata/dev-tools-pub/main/koan/devenv/direnvrc" "sha256-hhCwcVzYXh1zUaFFaeVY5paGvLgo/lgEO888bAyMwxo="
source_env ./koan/devenv/direnvrc

use koan_devenv
