#!/usr/bin/env bash
# ^ for code highlighting

# Used by https://direnv.net
set -euo pipefail

# NOTE:
# External users should eval use the below to load the direnvrc file.
# For more details, read github.com:koandata/dev-tools-pub //koan/devenv/README.md

source_env ./koan/devenv/direnvrc

use koan_devenv
